@import '../../sass/abstracts/all';

%Controls {
  @include colorMixInteractive('white');
  border: 1px solid mix('white', 'border-color');
  padding: $co-box-yy $co-box-xx;
  border-radius: $co-box-radius;

  &::placeholder { color: $co-color-gray-4; }

  &.is--warn {
    @include colorMixInteractive('warn');
    border: 1px solid mix('warn', 'border-color');
    &::placeholder { color: mix('warn', 'disabled-color'); }
  }

  &.is--error {
    @include colorMixInteractive('error');
    border: 1px solid mix('error', 'border-color');
    &::placeholder { color: mix('error', 'disabled-color'); }
  }

  &.is--ok {
    @include colorMixInteractive('ok');
    border: 1px solid mix('ok', 'border-color');
    &::placeholder { color: mix('ok', 'disabled-color'); }
  }
}